$num-splash-images: 6;
$num-coffeegram-images: 6;
$num-videos-images: 6;
$num-online-articles-images: 4;
$num-print-articles-images: 2;
$num-recent-articles-images: $num-online-articles-images + $num-print-articles-images;
$num-latest-posts-images: 6;

$num-online-articles-dots: 2;
$num-print-articles-dots: 1;
$num-recent-articles-dots: 2;
$num-latest-posts-dots: 3;

$splash-image-dots-width: (100%/$num-splash-images);
$coffeegram-images-dots-width: (100%/$num-coffeegram-images);
$videos-images-dots-width: (100%/$num-videos-images);
$recent-articles-images-dots-width: (100%/$num-recent-articles-dots);
$online-articles-images-dots-width: (100%/$num-online-articles-dots);
$print-articles-images-dots-width: (100%/$num-print-articles-dots);
$latest-posts-images-dots-width: (100%/$num-latest-posts-dots);

@font-face {
font-family: Nexa;
src: url("../fonts/Nexa Light.otf") format("opentype");
}

@font-face {
font-family: Nexa;
font-weight: bold;
src: url("../fonts/Nexa Bold.otf") format("opentype");
}

body {
	font-family: 'Nexa', cursive;
}

img {
	width: 100%;
}

i {
	margin: 0 8px;
	float: right;
}

blockquote::before, blockquote::after {
	content: '"';
}

h1 {
	text-align: left;
	display: inline-block;
	background: white;
	padding: 5px;
	margin: 0.4vw 0 0 0;
	font-size: 2.6vw;
}

h4 {
	font-weight: 700;
}

h4.fullwidth-header {
	margin-left: 15px;
}

h4.about, h4.twitter {
	padding-bottom: 12px;
	border-bottom: solid 1px black;
	margin-bottom: 7px;
}

.row {
	margin: 0 20px 30px 20px;
}

.col-xs-4 {
	text-align: left;
}

.footer {
	padding-top: 10px;
	border-top: solid 1px black;
	text-align: center;
	.col-xs-4 {
		text-align: center;
	}
}

.selected {
	color: rgb(200,200,200);
}

.fa {
	text-align: center;
	&.large-icon {
		font-size: 80px;
		margin: 0 auto;
		&.fa-envelope-o  {
			color: rgb(185,125,185);
		}
		&.fa-phone  {
			color: rgb(200,65,65);
		}
		&.fa-twitter {
			color: rgb(90,190,215);
		}
		&.fa-file-text-o {
			margin-top: 20px;
		}
		&.fa-arrow-circle-o-down {
			color: rgb(25,190,55);
			float: center;
			clear: both;
		}
	}
}

.cv {
	text-align: center;
	.cv-text {
		margin: 30px 0;
	}
}

.contact-info {
	display: inline-block;
	font-size: 16px;
	margin: 30px 0;
}

.col-xs-8 {
	padding: 0;
}

.about-section {
	width: 70%;
	margin: 0 15%;
}

.rose-portrait {
	margin: 60px 10%;
	width: 80%;
	border-radius: 200%;
}

.slider-coffeegram-nav, .slider-videos-nav, .slider-recent-articles-nav, .slider-latest-posts-nav, .slider-online-articles-nav, .slider-print-articles-nav {
	&.slick-dotted {
		height: 5px;
	}
	position: relative;
	background: white;
	margin: 0;
	.slick-dots {
		height: 20px;  
		bottom: 0;
		li {
			margin: 0;
		}
	}
}

.slider-recent-articles-nav, .slider-latest-posts-nav, .slider-online-articles-nav, .slider-print-articles-nav {
	&.slick-dotted {
		margin: 0 15px 5px 15px;
	}
}

.slider-recent-articles-nav {
	.slick-dots li {
		width: $recent-articles-images-dots-width;
	}
}

.slider-latest-posts-nav {
	.slick-dots li {
		width: $latest-posts-images-dots-width;
	}
}

.slider-online-articles-nav	{
	.slick-dots li {
		width: $online-articles-images-dots-width;
	}
}

.slider-print-articles-nav	{
	.slick-dots li {
		width: $print-articles-images-dots-width;
	}
}

.slider-coffeegram-nav {
	&.slick-dotted {
		margin-bottom: 5px;
	}
	.slick-dots li {
		width: $coffeegram-images-dots-width;
	}
}

.slider-videos-nav {
	&.slick-dotted {
		margin-bottom: 5px;
	}
	.slick-dots li {
		width: $videos-images-dots-width;
	}
}

.slick-dots li button:before {
	content: none;
}

.splash-image, .slider-recent-articles, .slider-latest-posts, .slider-online-articles, .slider-print-articles {
	.slick-dots {
		width: 40%;
		text-align: center;
		margin: 0 30%;
		bottom: 60px;
		.slick-active button {
			background: white;
		}
	}
	.slick-dots li {
		height: 20px;
		width: 20px;
	}
	.slick-dots li button {
		background: none;
		height: 20px;
		width: 20px;
		line-height: 20px;
		background: none;
		border: solid 3px white;
		border-radius: 100%;
	}
}

.slider-recent-articles, .slider-latest-posts, .slider-online-articles, .slider-print-articles {
	.slick-dots {
		bottom: auto;
		.slick-active button {
			background: black;
		}
	}
	.slick-dots li button {
		border: solid 3px black;
	}
}	

.slick-dots li button {
	width: 100%;
	padding: 0;
	height: 5px;
	border-bottom: solid 1px black;
	background: none;
}

.slick-dots .slick-active button {
	background: black;
	height: 5px;
}

button.slick-prev {
	height: 20px;
	top: 10px;
	left: 0;
	z-index: 1;
	float: left;
}

button.slick-next {
	height: 20px;
	top: 10px;
	right: 0;
	z-index: 1;
	float: right;
}

.navbar {
	min-height: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 0;
	margin: 0;
	color: white;
	padding: 5px;
}

.bigger-text {
	margin: 0 0 0 0;
	font-size: 8vw;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

.splash-screen {
	text-align: left;
	height: 46vw;
	min-height: 500px;
}

.splash-screen-award {
	width: 250px;
	position: absolute;
	top: 40px;
	right: 0;
}

.pdf-view {
	height: 100vh;
}

.close-button {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 40vh;
	left: 50px;
	border: solid 2px black;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

.splash-image-outer {
	position: absolute;
	top: 40px;
	right: 0px;
}

.splash-image {
	float: right;
	width: 70vw;
	z-index: -1;
	min-width: 820px;
}

.about {
	background-color: white;
}

.interests {
	background-color: black;
	height: 100vh;
}

.extra {
	background-color: white;
	height: 100vh;
}

.slick-center {
	transform: scale(1.2);
}

.slider-coffeegram-nav {
	// @extend .slider-recent-articles-nav;
}

.slider-nav-element {
	margin: 20px 80px 20px 80px;
}

.slick-prev, .slick-next {
	height: 90px
}

.slick-prev:before, .slick-next:before { 

	font-family: FontAwesome; font-size: 20px; line-height: 1; color: black; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

	.slick-prev:before { content: "\f053"; }
	[dir="rtl"] .slick-prev:before { content: "\f054"; }

	[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
	.slick-next:before { content: "\f054"; }
	[dir="rtl"] .slick-next:before { content: "\f053"; 
}

@media (max-width: 992px) {

}

@media (max-width: 992px) and (min-width: 767px) {
	h1 {
		font-size: 27px;
	}
	.bigger-text {
		font-size: 85px;
	}
	.slider-nav-element {
		margin: 20px 40px 20px 40px;
	}
}

@media (max-width: 767px) {
	$recent-articles-images-dots-width: (100%/$num-recent-articles-images);
	$latest-posts-images-dots-width: (100%/$num-latest-posts-images);
	$online-articles-images-dots-width: (100%/$num-online-articles-images);
	$print-articles-images-dots-width: (100%/$num-print-articles-images);
	h1 {
		font-size: 27px;
		margin: 0.5vh 0 0 0;
	}
	h4.fullwidth-header {
		padding: 0 10%;
		margin-left: 0;
	}

	.cv {
		margin-bottom: 30px;
		.cv-text {
			margin: 70px 0;
			float: right;
		}
	}

	.quotes, .about-text {
		margin-bottom: 50px;
	}

	.bigger-text {
		font-size: 85px;
		margin: 0.5vh 0 0 0;
	}

	.splash-screen-award {
		width: 32%;
		min-width: 200px;
	}

	.contacts-view .col-xs-8 {
		text-align: center;
	}

	.contact-info {
		font-size: 25px;
		margin: 30px 0;
	}

	.fa.large-icon {
		font-size: 120px;
	}

	.col-xs-4 .contact-icon-column {
		text-align: center;
	}

	.splash-image {
		.slick-dots {
			width: 100vw;
			margin: 0;
			right: 0;
		}
	}
	.slider-recent-articles, .slider-latest-posts, .slider-online-articles, .slider-print-articles {
		.slick-dots {
			width: 100%;
			margin: 0;
			right: 0;
		}
	}
	.slider-recent-articles-nav, .slider-latest-posts-nav, .slider-online-articles-nav, .slider-print-articles-nav {
		&.slick-dotted {
			margin: 0 0 5px 0;
		}
		.slick-dots {
		margin: 0;
		padding: 0 10%;
		}
	}

	.slider-recent-articles-nav {
		.slick-dots li {
			width: $recent-articles-images-dots-width;
		}
	}

	.slider-latest-posts-nav {
		.slick-dots li {
			width: $latest-posts-images-dots-width;
		}
	}

	.slider-online-articles-nav {
		.slick-dots li {
			width: $online-articles-images-dots-width;
		}
	}

	.slider-print-articles-nav {
		.slick-dots li {
			width: $print-articles-images-dots-width;
		}
	}

	.col-xs-4 {
		width: 100%;
		padding: 0 10%;
	}

	.col-xs-8 {
		width: 100%;
		padding: 0;
	}


	.slider-recent-articles, .slider-latest-posts, .slider-online-articles, .slider-print-articles {
		padding: 0 10%;
		.col-xs-4 {
			padding: 0;
		}
	}
}

@media (max-width: 650px) and (min-width: 400px) {
	h1 {
		font-size: 27px;
		margin: 0.5vh 0 0 -20px;
	}
	.bigger-text {
		font-size: 55px;
		margin: 0.5vh 0 0 -20px;
	}
	.splash-screen-award {
		min-width: 150px;
	}
	.slider-nav-element {
		margin: 20px 40px 20px 40px;
	}
}

@-moz-document url-prefix() {
 .slider-coffeegram-nav, .slider-videos-nav, .slider-recent-articles-nav, .slider-latest-posts-nav, .slider-online-articles-nav, .slider-print-articles-nav {
		.slick-dots {
			bottom: -10px;
		}
	}
}